{
  "openapi": "3.1.0",
  "info": {
    "title": "VizTR Super Admin API",
    "version": "1.0.0",
    "description": "Super Admin Dashboard API for VizTR Architecture Visualization Platform",
    "contact": {
      "name": "VizTR Team",
      "email": "api@viztr.studio"
    }
  },
  "servers": [
    {
      "url": "https://api.viztr.studio",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "AdminUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "super_admin",
              "admin",
              "user",
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "invited",
              "suspended",
              "inactive"
            ]
          },
          "avatar": {
            "type": "string",
            "format": "uri"
          },
          "department": {
            "type": "string"
          },
          "assignedProjectsCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastLogin": {
            "type": "string"
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "permissionsOverride": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "role",
          "status",
          "avatar",
          "department",
          "assignedProjectsCount",
          "lastLogin",
          "twoFactorEnabled",
          "createdAt"
        ]
      },
      "CreateAdminUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "super_admin",
              "admin",
              "user",
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "invited",
              "suspended",
              "inactive"
            ]
          },
          "avatar": {
            "type": "string",
            "format": "uri"
          },
          "department": {
            "type": "string"
          },
          "assignedProjectsCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastLogin": {
            "type": "string"
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "permissionsOverride": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "email",
          "role",
          "status",
          "avatar",
          "department",
          "assignedProjectsCount",
          "lastLogin",
          "twoFactorEnabled"
        ]
      },
      "UpdateAdminUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "super_admin",
              "admin",
              "user",
              "client"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "invited",
              "suspended",
              "inactive"
            ]
          },
          "avatar": {
            "type": "string",
            "format": "uri"
          },
          "department": {
            "type": "string"
          },
          "assignedProjectsCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastLogin": {
            "type": "string"
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "permissionsOverride": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        }
      },
      "GpuNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "regionCode": {
            "type": "string"
          },
          "regionName": {
            "type": "string"
          },
          "flagEmoji": {
            "type": "string"
          },
          "gpuModel": {
            "type": "string"
          },
          "instanceType": {
            "type": "string"
          },
          "totalNodes": {
            "type": "integer",
            "minimum": 0
          },
          "activeNodes": {
            "type": "integer",
            "minimum": 0
          },
          "activeSessions": {
            "type": "integer",
            "minimum": 0
          },
          "maxSessions": {
            "type": "integer",
            "minimum": 0
          },
          "loadPercentage": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "vramUsedGB": {
            "type": "number",
            "minimum": 0
          },
          "vramTotalGB": {
            "type": "number",
            "minimum": 0
          },
          "avgLatencyMs": {
            "type": "number",
            "minimum": 0
          },
          "avgFps": {
            "type": "number",
            "minimum": 0
          },
          "temperatureC": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "degraded",
              "maintenance"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "regionCode",
          "regionName",
          "gpuModel",
          "instanceType",
          "totalNodes",
          "activeNodes",
          "activeSessions",
          "maxSessions",
          "loadPercentage",
          "vramUsedGB",
          "vramTotalGB",
          "avgLatencyMs",
          "avgFps",
          "temperatureC",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "UpdateGpuNode": {
        "type": "object",
        "properties": {
          "regionCode": {
            "type": "string"
          },
          "regionName": {
            "type": "string"
          },
          "flagEmoji": {
            "type": "string"
          },
          "gpuModel": {
            "type": "string"
          },
          "instanceType": {
            "type": "string"
          },
          "totalNodes": {
            "type": "integer",
            "minimum": 0
          },
          "activeNodes": {
            "type": "integer",
            "minimum": 0
          },
          "activeSessions": {
            "type": "integer",
            "minimum": 0
          },
          "maxSessions": {
            "type": "integer",
            "minimum": 0
          },
          "loadPercentage": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "vramUsedGB": {
            "type": "number",
            "minimum": 0
          },
          "vramTotalGB": {
            "type": "number",
            "minimum": 0
          },
          "avgLatencyMs": {
            "type": "number",
            "minimum": 0
          },
          "avgFps": {
            "type": "number",
            "minimum": 0
          },
          "temperatureC": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "degraded",
              "maintenance"
            ]
          }
        }
      },
      "FeatureToggle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "core",
              "rendering",
              "xr",
              "ai",
              "security",
              "storage"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "requiresRestart": {
            "type": "boolean"
          },
          "environment": {
            "type": "string",
            "enum": [
              "all",
              "production",
              "staging"
            ]
          },
          "lastModifiedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastModifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "key",
          "name",
          "description",
          "category",
          "enabled",
          "requiresRestart",
          "environment",
          "lastModifiedBy",
          "lastModifiedAt",
          "createdAt"
        ]
      },
      "UpdateFeatureToggle": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "core",
              "rendering",
              "xr",
              "ai",
              "security",
              "storage"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "requiresRestart": {
            "type": "boolean"
          },
          "environment": {
            "type": "string",
            "enum": [
              "all",
              "production",
              "staging"
            ]
          },
          "lastModifiedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastModifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SystemHealthLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "level": {
            "type": "string",
            "enum": [
              "info",
              "warn",
              "error",
              "critical"
            ]
          },
          "service": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "timestamp",
          "level",
          "service",
          "message"
        ]
      },
      "CreateSystemLog": {
        "type": "object",
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "info",
              "warn",
              "error",
              "critical"
            ]
          },
          "service": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          }
        },
        "required": [
          "level",
          "service",
          "message"
        ]
      },
      "RevenueMetric": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string"
          },
          "mrr": {
            "type": "number",
            "minimum": 0
          },
          "oneOffCommissions": {
            "type": "number",
            "minimum": 0
          },
          "gpuStreamingRevenue": {
            "type": "number",
            "minimum": 0
          },
          "vrLicenses": {
            "type": "number",
            "minimum": 0
          },
          "total": {
            "type": "number",
            "minimum": 0
          },
          "expenses": {
            "type": "number",
            "minimum": 0
          },
          "netMargin": {
            "type": "number"
          }
        },
        "required": [
          "month",
          "mrr",
          "oneOffCommissions",
          "gpuStreamingRevenue",
          "vrLicenses",
          "total",
          "expenses",
          "netMargin"
        ]
      },
      "RevenueSummary": {
        "type": "object",
        "properties": {
          "currentMRR": {
            "type": "number",
            "minimum": 0
          },
          "currentARR": {
            "type": "number",
            "minimum": 0
          },
          "growthRateMoM": {
            "type": "number"
          }
        },
        "required": [
          "currentMRR",
          "currentARR",
          "growthRateMoM"
        ]
      },
      "ManagedProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "Other"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Planning",
              "Work in Progress",
              "Client Review",
              "Revisions",
              "Final Delivery",
              "On Hold",
              "Completed"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "estimatedHours": {
            "type": "number",
            "minimum": 0
          },
          "assignedTeam": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hoursMonitoring": {
            "type": "object",
            "properties": {
              "estimatedHours": {
                "type": "number",
                "minimum": 0
              },
              "hoursSpent": {
                "type": "number",
                "minimum": 0
              },
              "hoursRemaining": {
                "type": "number"
              },
              "timesheetEntries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hours": {
                      "type": "number",
                      "exclusiveMinimum": 0
                    },
                    "description": {
                      "type": "string"
                    },
                    "billable": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "date",
                    "hours",
                    "description",
                    "billable"
                  ]
                }
              }
            },
            "required": [
              "estimatedHours",
              "hoursSpent",
              "hoursRemaining",
              "timesheetEntries"
            ]
          },
          "bookingAmount": {
            "type": "number",
            "minimum": 0
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Partial 50%",
              "Paid",
              "Overdue"
            ]
          },
          "notes": {
            "type": "string"
          },
          "bookingFormData": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "id",
          "name",
          "clientName",
          "projectType",
          "status",
          "startDate",
          "endDate",
          "estimatedHours",
          "assignedTeam",
          "hoursMonitoring",
          "bookingAmount",
          "paymentStatus"
        ]
      },
      "CreateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "Other"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Planning",
              "Work in Progress",
              "Client Review",
              "Revisions",
              "Final Delivery",
              "On Hold",
              "Completed"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "estimatedHours": {
            "type": "number",
            "minimum": 0
          },
          "assignedTeam": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hoursMonitoring": {
            "type": "object",
            "properties": {
              "estimatedHours": {
                "type": "number",
                "minimum": 0
              },
              "hoursSpent": {
                "type": "number",
                "minimum": 0
              },
              "hoursRemaining": {
                "type": "number"
              },
              "timesheetEntries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hours": {
                      "type": "number",
                      "exclusiveMinimum": 0
                    },
                    "description": {
                      "type": "string"
                    },
                    "billable": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "date",
                    "hours",
                    "description",
                    "billable"
                  ]
                }
              }
            },
            "required": [
              "estimatedHours",
              "hoursSpent",
              "hoursRemaining",
              "timesheetEntries"
            ]
          },
          "bookingAmount": {
            "type": "number",
            "minimum": 0
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Partial 50%",
              "Paid",
              "Overdue"
            ]
          },
          "notes": {
            "type": "string"
          },
          "bookingFormData": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "clientName",
          "projectType",
          "status",
          "startDate",
          "endDate",
          "estimatedHours",
          "assignedTeam",
          "hoursMonitoring",
          "bookingAmount",
          "paymentStatus"
        ]
      },
      "UpdateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "Other"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Planning",
              "Work in Progress",
              "Client Review",
              "Revisions",
              "Final Delivery",
              "On Hold",
              "Completed"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "estimatedHours": {
            "type": "number",
            "minimum": 0
          },
          "assignedTeam": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hoursMonitoring": {
            "type": "object",
            "properties": {
              "estimatedHours": {
                "type": "number",
                "minimum": 0
              },
              "hoursSpent": {
                "type": "number",
                "minimum": 0
              },
              "hoursRemaining": {
                "type": "number"
              },
              "timesheetEntries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hours": {
                      "type": "number",
                      "exclusiveMinimum": 0
                    },
                    "description": {
                      "type": "string"
                    },
                    "billable": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "date",
                    "hours",
                    "description",
                    "billable"
                  ]
                }
              }
            },
            "required": [
              "estimatedHours",
              "hoursSpent",
              "hoursRemaining",
              "timesheetEntries"
            ]
          },
          "bookingAmount": {
            "type": "number",
            "minimum": 0
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Partial 50%",
              "Paid",
              "Overdue"
            ]
          },
          "notes": {
            "type": "string"
          },
          "bookingFormData": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "XRLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "accessCount": {
            "type": "integer",
            "minimum": 0
          },
          "maxAccess": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "allowedDomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "passwordProtected": {
            "type": "boolean",
            "default": false
          },
          "passwordHash": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "projectId",
          "projectName",
          "token",
          "url",
          "expiresAt",
          "createdAt",
          "createdBy",
          "accessCount",
          "maxAccess"
        ]
      },
      "CreateXRLink": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "maxAccess": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "allowedDomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "expiresAt"
        ]
      },
      "Tour": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "rooms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subtitle": {
                  "type": "string"
                },
                "panoramaUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "thumbnailUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "initialYaw": {
                  "type": "number",
                  "default": 0
                },
                "initialPitch": {
                  "type": "number",
                  "default": 0
                },
                "defaultHotspots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "position": {
                        "type": "object",
                        "properties": {
                          "yaw": {
                            "type": "number"
                          },
                          "pitch": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "yaw",
                          "pitch"
                        ]
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "targetRoomId": {
                        "type": "string"
                      },
                      "mediaUrl": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "position",
                      "title",
                      "type"
                    ]
                  },
                  "default": []
                }
              },
              "required": [
                "id",
                "name",
                "panoramaUrl"
              ]
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "projectId",
          "rooms",
          "createdAt",
          "updatedAt",
          "status"
        ]
      },
      "CreateTour": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "rooms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subtitle": {
                  "type": "string"
                },
                "panoramaUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "thumbnailUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "initialYaw": {
                  "type": "number",
                  "default": 0
                },
                "initialPitch": {
                  "type": "number",
                  "default": 0
                },
                "defaultHotspots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "position": {
                        "type": "object",
                        "properties": {
                          "yaw": {
                            "type": "number"
                          },
                          "pitch": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "yaw",
                          "pitch"
                        ]
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "targetRoomId": {
                        "type": "string"
                      },
                      "mediaUrl": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "position",
                      "title",
                      "type"
                    ]
                  },
                  "default": []
                }
              },
              "required": [
                "id",
                "name",
                "panoramaUrl"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          }
        },
        "required": [
          "name",
          "projectId",
          "rooms",
          "status"
        ]
      },
      "UpdateTour": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "rooms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subtitle": {
                  "type": "string"
                },
                "panoramaUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "thumbnailUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "initialYaw": {
                  "type": "number",
                  "default": 0
                },
                "initialPitch": {
                  "type": "number",
                  "default": 0
                },
                "defaultHotspots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "position": {
                        "type": "object",
                        "properties": {
                          "yaw": {
                            "type": "number"
                          },
                          "pitch": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "yaw",
                          "pitch"
                        ]
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "targetRoomId": {
                        "type": "string"
                      },
                      "mediaUrl": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "position",
                      "title",
                      "type"
                    ]
                  },
                  "default": []
                }
              },
              "required": [
                "id",
                "name",
                "panoramaUrl"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "service_type": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "WebAR",
              "Virtual Tour 360",
              "Animation",
              "Still Renders",
              "Other"
            ]
          },
          "client_name": {
            "type": "string",
            "minLength": 1
          },
          "client_email": {
            "type": "string",
            "format": "email"
          },
          "client_phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "project_description": {
            "type": "string"
          },
          "preferred_date": {
            "type": "string",
            "format": "date"
          },
          "preferred_time": {
            "type": "string",
            "format": "time"
          },
          "timezone": {
            "type": "string",
            "default": "UTC"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "completed",
              "cancelled"
            ]
          },
          "admin_notes": {
            "type": "string"
          },
          "approved_by": {
            "type": [
              "string",
              "null"
            ]
          },
          "approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "rejected_by": {
            "type": [
              "string",
              "null"
            ]
          },
          "rejected_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "rejection_reason": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "service_type",
          "client_name",
          "client_email",
          "preferred_date",
          "preferred_time",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "BookingFilters": {
        "type": "object",
        "properties": {
          "search": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "completed",
              "cancelled"
            ]
          },
          "service_type": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "WebAR",
              "Virtual Tour 360",
              "Animation",
              "Still Renders",
              "Other"
            ]
          },
          "date_from": {
            "type": "string",
            "format": "date"
          },
          "date_to": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BookingStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "by_status": {
            "type": "object",
            "properties": {
              "pending": {
                "type": "integer",
                "minimum": 0
              },
              "approved": {
                "type": "integer",
                "minimum": 0
              },
              "rejected": {
                "type": "integer",
                "minimum": 0
              },
              "completed": {
                "type": "integer",
                "minimum": 0
              },
              "cancelled": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "by_service_type": {
            "type": "object",
            "properties": {
              "Architectural": {
                "type": "integer",
                "minimum": 0
              },
              "Virtual Reality": {
                "type": "integer",
                "minimum": 0
              },
              "Pixel Streaming": {
                "type": "integer",
                "minimum": 0
              },
              "WebXR": {
                "type": "integer",
                "minimum": 0
              },
              "WebAR": {
                "type": "integer",
                "minimum": 0
              },
              "Virtual Tour 360": {
                "type": "integer",
                "minimum": 0
              },
              "Animation": {
                "type": "integer",
                "minimum": 0
              },
              "Still Renders": {
                "type": "integer",
                "minimum": 0
              },
              "Other": {
                "type": "integer",
                "minimum": 0
              }
            }
          }
        },
        "required": [
          "total",
          "by_status",
          "by_service_type"
        ]
      },
      "ContactSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "service_interest": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "WebAR",
              "Virtual Tour 360",
              "Animation",
              "Still Renders",
              "Other"
            ]
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "read",
              "responded",
              "archived"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "ContactFilters": {
        "type": "object",
        "properties": {
          "search": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "read",
              "responded",
              "archived"
            ]
          },
          "service_interest": {
            "type": "string",
            "enum": [
              "Architectural",
              "Virtual Reality",
              "Pixel Streaming",
              "WebXR",
              "WebAR",
              "Virtual Tour 360",
              "Animation",
              "Still Renders",
              "Other"
            ]
          },
          "date_from": {
            "type": "string",
            "format": "date"
          },
          "date_to": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ContactStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "by_status": {
            "type": "object",
            "properties": {
              "new": {
                "type": "integer",
                "minimum": 0
              },
              "read": {
                "type": "integer",
                "minimum": 0
              },
              "responded": {
                "type": "integer",
                "minimum": 0
              },
              "archived": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "by_service_interest": {
            "type": "object",
            "properties": {
              "Architectural": {
                "type": "integer",
                "minimum": 0
              },
              "Virtual Reality": {
                "type": "integer",
                "minimum": 0
              },
              "Pixel Streaming": {
                "type": "integer",
                "minimum": 0
              },
              "WebXR": {
                "type": "integer",
                "minimum": 0
              },
              "WebAR": {
                "type": "integer",
                "minimum": 0
              },
              "Virtual Tour 360": {
                "type": "integer",
                "minimum": 0
              },
              "Animation": {
                "type": "integer",
                "minimum": 0
              },
              "Still Renders": {
                "type": "integer",
                "minimum": 0
              },
              "Other": {
                "type": "integer",
                "minimum": 0
              }
            }
          }
        },
        "required": [
          "total",
          "by_status",
          "by_service_interest"
        ]
      }
    },
    "parameters": {}
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/admin/users": {
      "get": {
        "summary": "List users",
        "description": "Get paginated list of admin users with filtering",
        "parameters": [
          {
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "super_admin",
                    "admin",
                    "user",
                    "client"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "invited",
                    "suspended",
                    "inactive"
                  ]
                },
                "department": {
                  "type": "string"
                },
                "page": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 100,
                  "default": 20
                },
                "sortBy": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "string",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                }
              }
            },
            "required": false,
            "in": "query",
            "name": "UserFilters"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "super_admin",
                              "admin",
                              "user",
                              "client"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "invited",
                              "suspended",
                              "inactive"
                            ]
                          },
                          "avatar": {
                            "type": "string",
                            "format": "uri"
                          },
                          "department": {
                            "type": "string"
                          },
                          "assignedProjectsCount": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "lastLogin": {
                            "type": "string"
                          },
                          "twoFactorEnabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "permissionsOverride": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "phone": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email",
                          "role",
                          "status",
                          "avatar",
                          "department",
                          "assignedProjectsCount",
                          "lastLogin",
                          "twoFactorEnabled",
                          "createdAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "summary": "Create user",
        "description": "Create a new admin user (super_admin required for admin roles)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "super_admin",
                      "admin",
                      "user",
                      "client"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "invited",
                      "suspended",
                      "inactive"
                    ]
                  },
                  "avatar": {
                    "type": "string",
                    "format": "uri"
                  },
                  "department": {
                    "type": "string"
                  },
                  "assignedProjectsCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "lastLogin": {
                    "type": "string"
                  },
                  "twoFactorEnabled": {
                    "type": "boolean"
                  },
                  "permissionsOverride": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "phone": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "role",
                  "status",
                  "avatar",
                  "department",
                  "assignedProjectsCount",
                  "lastLogin",
                  "twoFactorEnabled"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "super_admin",
                            "admin",
                            "user",
                            "client"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "invited",
                            "suspended",
                            "inactive"
                          ]
                        },
                        "avatar": {
                          "type": "string",
                          "format": "uri"
                        },
                        "department": {
                          "type": "string"
                        },
                        "assignedProjectsCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "lastLogin": {
                          "type": "string"
                        },
                        "twoFactorEnabled": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "permissionsOverride": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "role",
                        "status",
                        "avatar",
                        "department",
                        "assignedProjectsCount",
                        "lastLogin",
                        "twoFactorEnabled",
                        "createdAt"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "summary": "Get user by ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "super_admin",
                            "admin",
                            "user",
                            "client"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "invited",
                            "suspended",
                            "inactive"
                          ]
                        },
                        "avatar": {
                          "type": "string",
                          "format": "uri"
                        },
                        "department": {
                          "type": "string"
                        },
                        "assignedProjectsCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "lastLogin": {
                          "type": "string"
                        },
                        "twoFactorEnabled": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "permissionsOverride": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "role",
                        "status",
                        "avatar",
                        "department",
                        "assignedProjectsCount",
                        "lastLogin",
                        "twoFactorEnabled",
                        "createdAt"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "summary": "Update user",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "super_admin",
                      "admin",
                      "user",
                      "client"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "invited",
                      "suspended",
                      "inactive"
                    ]
                  },
                  "avatar": {
                    "type": "string",
                    "format": "uri"
                  },
                  "department": {
                    "type": "string"
                  },
                  "assignedProjectsCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "lastLogin": {
                    "type": "string"
                  },
                  "twoFactorEnabled": {
                    "type": "boolean"
                  },
                  "permissionsOverride": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "phone": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "super_admin",
                            "admin",
                            "user",
                            "client"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "invited",
                            "suspended",
                            "inactive"
                          ]
                        },
                        "avatar": {
                          "type": "string",
                          "format": "uri"
                        },
                        "department": {
                          "type": "string"
                        },
                        "assignedProjectsCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "lastLogin": {
                          "type": "string"
                        },
                        "twoFactorEnabled": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "permissionsOverride": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "phone": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email",
                        "role",
                        "status",
                        "avatar",
                        "department",
                        "assignedProjectsCount",
                        "lastLogin",
                        "twoFactorEnabled",
                        "createdAt"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "summary": "Delete user",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/admin/gpu": {
      "get": {
        "summary": "List GPU nodes",
        "parameters": [
          {
            "schema": {
              "type": "object",
              "properties": {
                "regionCode": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "healthy",
                    "warning",
                    "degraded",
                    "maintenance"
                  ]
                }
              }
            },
            "required": false,
            "in": "query",
            "name": "GpuFilters"
          }
        ],
        "responses": {
          "200": {
            "description": "GPU nodes list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "regionCode": {
                            "type": "string"
                          },
                          "regionName": {
                            "type": "string"
                          },
                          "flagEmoji": {
                            "type": "string"
                          },
                          "gpuModel": {
                            "type": "string"
                          },
                          "instanceType": {
                            "type": "string"
                          },
                          "totalNodes": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "activeNodes": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "activeSessions": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "maxSessions": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "loadPercentage": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "vramUsedGB": {
                            "type": "number",
                            "minimum": 0
                          },
                          "vramTotalGB": {
                            "type": "number",
                            "minimum": 0
                          },
                          "avgLatencyMs": {
                            "type": "number",
                            "minimum": 0
                          },
                          "avgFps": {
                            "type": "number",
                            "minimum": 0
                          },
                          "temperatureC": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "healthy",
                              "warning",
                              "degraded",
                              "maintenance"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "regionCode",
                          "regionName",
                          "gpuModel",
                          "instanceType",
                          "totalNodes",
                          "activeNodes",
                          "activeSessions",
                          "maxSessions",
                          "loadPercentage",
                          "vramUsedGB",
                          "vramTotalGB",
                          "avgLatencyMs",
                          "avgFps",
                          "temperatureC",
                          "status",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create GPU node",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "regionCode": {
                    "type": "string"
                  },
                  "regionName": {
                    "type": "string"
                  },
                  "flagEmoji": {
                    "type": "string"
                  },
                  "gpuModel": {
                    "type": "string"
                  },
                  "instanceType": {
                    "type": "string"
                  },
                  "totalNodes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "activeNodes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "activeSessions": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "maxSessions": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "loadPercentage": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "vramUsedGB": {
                    "type": "number",
                    "minimum": 0
                  },
                  "vramTotalGB": {
                    "type": "number",
                    "minimum": 0
                  },
                  "avgLatencyMs": {
                    "type": "number",
                    "minimum": 0
                  },
                  "avgFps": {
                    "type": "number",
                    "minimum": 0
                  },
                  "temperatureC": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "healthy",
                      "warning",
                      "degraded",
                      "maintenance"
                    ]
                  }
                },
                "required": [
                  "regionCode",
                  "regionName",
                  "gpuModel",
                  "instanceType",
                  "totalNodes",
                  "activeNodes",
                  "activeSessions",
                  "maxSessions",
                  "loadPercentage",
                  "vramUsedGB",
                  "vramTotalGB",
                  "avgLatencyMs",
                  "avgFps",
                  "temperatureC",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "GPU node created"
          }
        }
      }
    },
    "/api/admin/gpu/{id}": {
      "get": {
        "summary": "Get GPU node",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "GPU node found"
          }
        }
      },
      "patch": {
        "summary": "Update GPU node",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "regionCode": {
                    "type": "string"
                  },
                  "regionName": {
                    "type": "string"
                  },
                  "flagEmoji": {
                    "type": "string"
                  },
                  "gpuModel": {
                    "type": "string"
                  },
                  "instanceType": {
                    "type": "string"
                  },
                  "totalNodes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "activeNodes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "activeSessions": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "maxSessions": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "loadPercentage": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "vramUsedGB": {
                    "type": "number",
                    "minimum": 0
                  },
                  "vramTotalGB": {
                    "type": "number",
                    "minimum": 0
                  },
                  "avgLatencyMs": {
                    "type": "number",
                    "minimum": 0
                  },
                  "avgFps": {
                    "type": "number",
                    "minimum": 0
                  },
                  "temperatureC": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "healthy",
                      "warning",
                      "degraded",
                      "maintenance"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GPU node updated"
          }
        }
      },
      "delete": {
        "summary": "Delete GPU node",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "GPU node deleted"
          }
        }
      }
    },
    "/api/admin/gpu/{id}/maintenance": {
      "post": {
        "summary": "Toggle maintenance mode",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance toggled"
          }
        }
      }
    },
    "/api/admin/gpu/stats": {
      "get": {
        "summary": "Get cluster stats",
        "responses": {
          "200": {
            "description": "Cluster stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalNodes": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "activeNodes": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "totalSessions": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "avgLoad": {
                          "type": "number",
                          "minimum": 0
                        },
                        "avgLatency": {
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "totalNodes",
                        "activeNodes",
                        "totalSessions",
                        "avgLoad",
                        "avgLatency"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/features": {
      "get": {
        "summary": "List feature toggles",
        "parameters": [
          {
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "enum": [
                    "core",
                    "rendering",
                    "xr",
                    "ai",
                    "security",
                    "storage"
                  ]
                }
              }
            },
            "required": false,
            "in": "query",
            "name": "FeatureToggleQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature toggles list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "core",
                              "rendering",
                              "xr",
                              "ai",
                              "security",
                              "storage"
                            ]
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "requiresRestart": {
                            "type": "boolean"
                          },
                          "environment": {
                            "type": "string",
                            "enum": [
                              "all",
                              "production",
                              "staging"
                            ]
                          },
                          "lastModifiedBy": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lastModifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "key",
                          "name",
                          "description",
                          "category",
                          "enabled",
                          "requiresRestart",
                          "environment",
                          "lastModifiedBy",
                          "lastModifiedAt",
                          "createdAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create feature toggle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "core",
                      "rendering",
                      "xr",
                      "ai",
                      "security",
                      "storage"
                    ]
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "requiresRestart": {
                    "type": "boolean"
                  },
                  "environment": {
                    "type": "string",
                    "enum": [
                      "all",
                      "production",
                      "staging"
                    ]
                  }
                },
                "required": [
                  "key",
                  "name",
                  "description",
                  "category",
                  "enabled",
                  "requiresRestart",
                  "environment"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feature toggle created"
          }
        }
      }
    },
    "/api/admin/features/{key}": {
      "get": {
        "summary": "Get feature toggle",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "key",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature toggle found"
          }
        }
      },
      "patch": {
        "summary": "Update feature toggle",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "key",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "core",
                      "rendering",
                      "xr",
                      "ai",
                      "security",
                      "storage"
                    ]
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "requiresRestart": {
                    "type": "boolean"
                  },
                  "environment": {
                    "type": "string",
                    "enum": [
                      "all",
                      "production",
                      "staging"
                    ]
                  },
                  "lastModifiedBy": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "lastModifiedAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature toggle updated"
          }
        }
      },
      "delete": {
        "summary": "Delete feature toggle",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "key",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Feature toggle deleted"
          }
        }
      }
    },
    "/api/admin/features/{key}/toggle": {
      "post": {
        "summary": "Toggle feature",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "key",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature toggled"
          }
        }
      }
    },
    "/api/admin/logs": {
      "get": {
        "summary": "List system logs",
        "parameters": [
          {
            "schema": {
              "type": "object",
              "properties": {
                "level": {
                  "type": "string",
                  "enum": [
                    "info",
                    "warn",
                    "error",
                    "critical"
                  ]
                },
                "service": {
                  "type": "string"
                },
                "search": {
                  "type": "string"
                },
                "dateFrom": {
                  "type": "string",
                  "format": "date-time"
                },
                "dateTo": {
                  "type": "string",
                  "format": "date-time"
                },
                "page": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 100,
                  "default": 20
                },
                "sortBy": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "string",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                }
              }
            },
            "required": false,
            "in": "query",
            "name": "LogFilters"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "level": {
                            "type": "string",
                            "enum": [
                              "info",
                              "warn",
                              "error",
                              "critical"
                            ]
                          },
                          "service": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "details": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "timestamp",
                          "level",
                          "service",
                          "message"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add system log",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "level": {
                    "type": "string",
[...]
